
.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 30px;
  grid-template-areas: 
  "h h h"
  "c c c";
}
.container {
  grid-area: c;
  width: 1200px;
  margin: 0 auto;
}
.content{
  display: grid;
  grid-template-columns: 2fr 10fr;
}